#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


table {
    border-collapse: collapse;
    color:black;
    place-items: center;
}

td, th {
    border: 1px solid black;
    padding:8px;
}

div {
  background-color: #fff5c7;
  border-radius: 8px;
  place-items: center;
}


