#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  display: inline-block;
}
div {
  background-color: #fff5c7;
  border-radius: 8px;
}

.logo {
  color:#e61b23;
  place-items: center;
  font-size: 6em;
  font-family: Segoe UI black;
  vertical-align: middle;}
